@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li>
        Ashish
    </li>
    <li> emp2</li>
    <li>emp3</li>
</ul>
