@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "AboutUs";
}
<h2>AboutUs</h2>
<h2>@TempData["name"]</h2>

<nav>
    <ul>
    <li>@Html.ActionLink("Home Page","Index","Home")</li>
        <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
</ul>
</nav>
